*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Noto Sans", sans-serif;
    font-size: 62.5%;
}

input {
    font-family: 'Noto Sans';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 1.6rem;
}

.todo {
    width: 800px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 100px rgba(0,0,0, .09);
    text-align: center;
    padding-bottom: 2.1rem;
}

@media screen and (max-width: 860px) {
    .todo{
        width: 80%;
    }
}

.todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    margin: 1.3rem 0;
    padding-left: 20px;
    height: 40px;
    text-align: left;
    list-style: none;
    font-size: 12px;
}

.todoInput {
    width: 83%;
    height: 4rem;
    padding-left: 1.6rem;
    border: 1px solid rgb(0,0,0, .07);
    font-size: 1.4rem;
}

.todoInput::placeholder {
    opacity: .4;
}

.todoList h3 {
    font-size: 2.2rem;
}

.header {
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.heading {
    padding: 32px;
    background-color: #9AE5A0;
}

.heading h1{
    font-family: 'Roboto Slab', 'sans-serif';
    font-size: 2.6rem;
    color: #ffff;
}

.alertInfo {
    font-size: 1rem;
}

.addBtn {
    height: 4rem;
    width: 8.5rem;
    background-color: #9AE5A0;
    font-size: 1.6rem;
    color: #ffff;
    border-color: #9AE5A0;
}

.todo-body {
    padding: 0 32px;
}

.tools {
    height: 100%;
    display: flex;
    justify-content: center;
   
}

.popup {
    display: none;
}

.tools button {
    height: 100%;
    width: 4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}